@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.mostandmaincontainer{
    /* align-items: center; */
    /* display: grid; */
    /* justify-content: center;  */
    margin-top: 48px;
    margin-bottom: 48px; 
}
.firstmostandmainbox{
    text-align: center;
    /* width: 940px; */
    margin-bottom: 30px;
}
.cardcomponentsecondmainbox{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 16px;
    gap: 16px;
    margin-top: 32px;
    max-width: 1200px;
    margin-inline: 30px;
}



.moemoe{
    font-size: 36px;
    font-weight: 400;
    font-family: "Philosopher", sans-serif;
    color: #CEE1E8;
}

.poepoe{
    font-size: 14px;
    /* line height for giving the space beween two lines */
    line-height: 24px;
    font-family: "Inter", sans-serif;
    color: #CEE1E8;
}

.mossandboosandkoos{
    max-width: 1200px;
    margin-inline: auto;
}
@media (max-width:990px) {
  
.poepoe{
    padding: 0 15px;
    line-height: 24px;
}
}